@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Amazon";
  src: url(/src/assets/font/Amazon\ Ember.ttf);
}
html{
  font-family: "Amazon";
}
.inner-custom {
  box-shadow: inset 40px 70px 100px 100px rgba(0, 0, 0, 0.8); 
}